@media (max-width: 1024px) {
  .svg-background img:nth-child(-n + 5) {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .svg-background img:nth-child(-n + 5) {
    width: 40%;
    margin-top: 2.5rem;
  }
  .svg-background img:nth-child(-n + 3) {
    display: none;
  }
}

.svg-background img:nth-child(-n + 5) {
  max-width: 50vw;
  opacity: 0.8;
  animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
  animation-iteration-count: infinite;
  animation-name: float;
  -webkit-animation-name: float;
  animation-direction: alternate;
  position: absolute;
  z-index: -999;
  overflow: hidden;
}

.svg-background img:nth-child(1) {
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 40%;
  top: 15%;
  z-index: -4;
}
.svg-background img:nth-child(2) {
  animation-duration: 10s;
  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  right: 5%;
  top: 20%;
  z-index: -2;
}
.svg-background img:nth-child(3) {
  animation-duration: 4s;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  animation-delay: 5s;
  right: 20%;
  z-index: -1;
}
.svg-background img:nth-child(4) {
  animation-duration: 6s;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 2s;
  animation-delay: 6s;
  top: -1%;
  left: 10%;
  z-index: -5;
}
.svg-background img:nth-child(5) {
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  top: 10%;
  right: 50%;
  z-index: -3;
}
@keyframes float {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -ms-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
  }

  50% {
    -webkit-transform: rotateX(0deg) translateY(-20px) translateX(20px);
    -moz-transform: rotateX(0deg) translateY(-20px) translateX(20px);
    -ms-transform: rotateX(0deg) translateY(-20px) translateX(20px);
    -o-transform: rotateX(0deg) translateY(-20px) translateX(20px);
    transform: rotateX(0deg) translateY(-20px) translateX(20px);
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(30px) translateX(-50px);
    -moz-transform: rotateX(0deg) translateY(30px) translateX(-50px);
    -ms-transform: rotateX(0deg) translateY(30px) translateX(-50px);
    -o-transform: rotateX(0deg) translateY(30px) translateX(-50px);
    transform: rotateX(0deg) translateY(30px) translateX(-50px);
  }
}
